<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="container">
      <header>
        {{ partial "header.html" . }}
      </header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        {{ partial "nav.html"}}
      </nav>
      <main>
        {{ block "main" . }}{{ end }}
      </main>

      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
<!-- from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
