nav {
	display: flex;
	flex-direction: column;
}

nav > div > a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #7FFF00;
}

nav > div > div > div > a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #7FFF00;
}

@media only screen and (min-width: 768px) {
	nav { flex-direction: row; }
}