/* changes each location into a gold (#FFD700) color button */

a.location {
	background-color: #ffd700;
	color: #333;
	display: inline-block;
	padding: 0.1em;
	font-size: 0.9em;
	text-decoration: none;
}

p.kicker {
	text-align: center;
}