/* changes each location into a gold (#FFD700) color button */

a.location {
	background-color: #ffd700;
	color: #333;
	display: inline-block;
	padding: 0.1em;
	font-size: 0.9em;
	text-decoration: none;
}

p.kicker {
	text-align: center;
}

section.body {
	font-family: "Noto Sans Mono", serif;
}

span.first {
	font-family: "Pacifico";
}

// Pacifico

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

// Noto Sans Mono, variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-mono-body {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// Space Mono

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}
