{{ define "main" }}
<article class="post">
	<header>
		<hr>
		<p class="kicker">{{ .Date.Format "2006-01-02" }}</p>
		<h2>{{ .Title }}</h2>
		<p class="kicker">
			{{ math.Round (div (countwords .Content) 200.0) }} min read
		</p>
		<p>
			author{{ .Params.Author }}
		</p>
		<p>
			posted {{ .Date.Format "2006-01-02"}}
			<span class="locations">
				in
				{{ range .Params.locations }}
					<a class="location" href="/locations/{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</span>
			<span class="tags">
				in
				{{ range .Params.tags }}
					<a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</span>
		</p>
		
	</header>

	<section class="body">
		{{ .Content }}
	</section>

	<section class="related">
		{{ $related := .Site.RegularPages.Related . | first 5 }}
		{{ with $related }}
			<h3>related pages</h3>
			<ul>
				{{ range . }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		{{ end }}
	</section>
</article>
{{ end }}